.projects-container{
  height: 100%;
  .projects{
    display: flex;
    align-items: center;
    justify-content: center;
    .project{
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid black;
      margin-left: 20px;
      margin-right: 20px;
      img{
        position: relative;
        top: 6px;
      }
    }
  }
}