.resume-container {
  margin-top: 40px;
  margin-bottom: 40px;
  .download {
    display: none;
  }
  .resume {
    display: grid;
    justify-items: center;
    iframe,
    embed {
      margin-top: 200px;
      height: 90vh;
      min-width: 60vw;
    }
    img {
      display: none;
    }
  }
}

@media screen and (max-width: 900px) {
  .resume-container {
    // margin-top: 40px;
    // margin-bottom: 40px;
    .download {
      display: block;
      transform: rotate(40deg);
      right: 0px;
      margin-top: 20px;
    }
    .resume {
      margin-top: 100px;
      // outline: 2px solid red;
      embed {
        display: none;
      }
      .resume-image {
        margin-top: 100px;
        position: relative;
        // border: 2px solid purple;
        .angle {
          width: 6vw;
          // border: 2px solid green;
          position: absolute;
          font-size: 5vw;
          color: black;
          // margin-top: 50%;
          top: 50%;
          width: 100%;
          display: flex;
          justify-content: space-between;
          .left {
            background-color: rgba(0, 0, 0, 0.311);
            height: 5vh;
            width: 4vw;
            &:active {
              background-color: rgba(0, 0, 0, 0.6);
            }
          }
          .right {
            background-color: rgba(0, 0, 0, 0.311);
            height: 5vh;
            width: 4vw;
            &:active {
              background-color: rgba(0, 0, 0, 0.6);
            }
          }
        }
        img {
          // margin-top: 100px;
          display: block;
          width: 60vw;
        }
      }
    }
  }
}
