.projectDisplay-container {
  // border: 2px solid red;
  margin: 0px;
  margin-top: 40px;
  max-width: 100%;
  width: 100vw;
  max-width: 100%;
  padding: 0px;
  color: #fff;
  .projects-header-neon {
    bottom: 80px;
    display: inline-block;
    position: relative;
    .projectsHeader {
      margin-top: 120px;
      // margin-left: 24px;
    }
    a {
      scroll-behavior: smooth;
      color: inherit;
      text-decoration: inherit;
    }
  }
  #select-projects {
    scroll-margin-top: 20px;
  }
  .project-container {
    margin: auto;
    margin-top: 20px;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .select-projects {
    // border: 2px solid red;
    height: 25vh;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    // top:-250px;
    .project {
      border-radius: 20px;
      padding: 8px;
      cursor: pointer;
      margin-top: 40px;
      margin-left: 20px;
      margin-right: 20px;
      width: 30%;
      text-align: center;
      .currentProject {
        box-shadow: 0 0 0.2rem #363278, 0 0 0.2rem #363278, 0 0 2rem #363278,
          0 0 0.8rem #363278, 0 0 2.8rem #363278, inset 0 0 1.3rem #363278;
        outline: 2px solid #363278;
      }
      h1 {
        margin: 0px;
        padding: 0px;
      }
      p {
        margin: 0px;
        padding: 0px;
      }
      a,
      a:visited {
        color: inherit;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .projectDisplay-container {
    .project-container {
      // This displays the currently viewed project
      margin: auto;
      margin-top: 20px;
      width: 100vw;
      // height: 30vh;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .projects-header-neon {// Code for the Projects neon sign introducing the project-container
      .projectsHeader {
        margin-top: 0px;
        // font-size: 4vw;
      }
    }
    .select-projects { // Code for the project info box where you can select the project
      // border: 2px solid purple;
      // height: 15vh;
      margin-top: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      .project {
        // outline: 2px solid red;
        // border-radius: 20px;
        // padding: 8px;
        cursor: pointer;
        // margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        width: 30%;
        height: 100%;
        text-align: center;
        // height: 100%;
        p{
          // border: 2px solid red;
          font-size: 8px;
        }
        h1{
          font-size: 12px;
        }
      }
    }
  }
}
